*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans 3', sans-serif;
    text-decoration: none;
}



body{
	
	font-size:14px;
	font-family: 'Roboto', sans-serif;
    


    
}
.navbar-collapse{
    text-align: center;
    /* position: fixed; */
}

.navbar li{
    display: inline-block;
    list-style: none;
    
   

    
  
}
 

.header-block-top{
	position: absolute;
    z-index: 11;
    width: 100%;
    top: 0;
    left: 0;
    
}

.main-menu .navbar-default{
	background-color:transparent

}
.main-menu .navbar{
	min-height:inherit;
	border-radius:0px;
	border:none;
	margin:0px;
}
.main-menu nav  .navbar-brand{
	height:inherit;
}
.main-menu .navbar-default .navbar-nav li a{
	color:rgb(68, 61, 216);
    text-decoration: none;
   
    
}
.main-menu nav li a{
	padding: 3px 0px 15px;
	margin: 0 14px;
	color: #fff;
	font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.6px;
	position:relative;
	-webkit-transition: color 0.4s;
    transition: color 0.4s;
    font-weight: 500;
    font-size: 14px;
    





   
}

.main-menu nav li a::after,  .main-menu nav li a::before{
	content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transform-origin: center left;
    transform-origin: center left;
    -webkit-transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
    
}



.main-menu nav li a::before {
    background: #000000;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.main-menu nav li.active a::before {
	-webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.main-menu nav li.active a::after, .main-menu nav li.active a::before {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.main-menu nav li a:hover::before, .main-menu nav li a:focus::before {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.main-menu .navbar-default .navbar-nav .active a{
	background-color:transparent;
}
.banner{
	background:url(../img/IMG_20221127_154410.jpg) no-repeat center top;
	background-attachment:fixed;
	background-size:cover;
	height:100vh;
	min-height:100%;

}

.banner .container, .banner .banner-static, .banner .col-lg-12 {
    height: 100%;
}
.banner-text {
    display: table;
    height: 100%;
    width: 100%;
    margin: 40px;
    text-align: center;
    
}
.banner-cell {
    display: table-cell;
    vertical-align: middle;
    color: rgb(0, 0, 0);
}
.banner-text h1 {
	font-family: 'nautilus_pompiliusregular';
    position: relative;
    line-height: 180px;
    height: 150px;
    width: 900px;
	font-size: 74px;
    align-items: center;
    margin: auto ;
	color:rgb(0, 0, 0);
    text-shadow: -3px -3px 3px hsla(240, 100%, 47%, 0.282), 3px -3px 3px #ffffff, -3px 3px 3px #6f6fc9a0, 3px 3px 3px #ffffff;

  
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(64, 88, 111, 0);

}

.banner-text h2 {
    position: relative;
	font-size: 37px;
    height: 130px;
    width: 300px;
    margin: auto;
    text-align: center;
  
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(64, 88, 111, 0);
}
.banner-text h2 img{
    width: 200px;
    animation: movimiento 7.5s infinite ;

    
}
@keyframes movimiento {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0);

    }
    
}




.banner-text p{
	font-family: 'Roboto', sans-serif;
	font-size:18px;
	color:rgb(255, 255, 255);
	padding-bottom:35px;
	margin:0px;
    line-height: 100px;
    width: 500px;
    align-items: center;
    margin: auto;
    text-shadow: -3px -3px 3px #0000DF, 3px -3px 3px #0000DF, -3px 3px 3px #0000DF, 3px 3px 3px #0000DF;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(64, 88, 111, 0);
}

.book-btn a{
	/*background:#e75b1e;*/
	color:rgba(37, 36, 45, 0.933);
	min-width: 219px;
    padding: 10.5px 20px;
    display: inline-block;
    text-align: center;
    font-weight: 800;
	text-transform:uppercase;
	font-size:18px;
    width: 40px;
    height: 65px;
    text-shadow: -3px -3px 3px hsla(240, 100%, 47%, 0.227), 3px -3px 3px #ffffff, -3px 3px 3px #6f6fc9a0, 3px 3px 3px #ffffff;



    text-decoration: none;  -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(64, 88, 111, 0);
}
.book-btn a:hover{
	border:3px solid rgb(46, 10, 252);
	background:none;
}



.banner-cell .mouse {
  position: relative;
  width: calc(30px * 2);
  height: calc(50px * 2);
  margin: 20px auto 60px;
  background: none;
  border: 2px solid white;
  border-radius: calc(16px * 2);
  z-index: 1;
  -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 128, 255, 0.334);
}
.banner-cell .mouse:after {
  display: block;
  content: "";
  position: absolute;
  top: 10px;
  left: 50%;
  width: calc(4px * 2);
  height: calc(4px * 2);
  background: none;
  border: 2px solid white;
  border-radius: 100%;
  -webkit-animation-name: scrollWheel;
          animation-name: scrollWheel;
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  will-change: transform;
}
@-webkit-keyframes scrollWheel {
    from {
      -webkit-transform: translate(-50%, 0);
      -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate(-50%, 0);
      transform: translate3d(-50%, 0, 0);
      opacity: 1;
    }
    to {
      -webkit-transform: translate(-50%, 20px);
      -webkit-transform: translate3d(-50%, 20px, 0);
      transform: translate(-50%, 20px);
      transform: translate3d(-50%, 20px, 0);
      opacity: 0;
    }
}

/* historia */

.about-main{
	background:#E6E6E6;
}
.pad-top-100{
    padding-top: 30px;
}
.pad-bottom-100{
	padding-bottom: 150px;
}

.pad-top-70{
	padding-top: 70px;
}
.pad-bottom-70{
	padding-bottom: 70px;
}


.block-title{
	font-size:52px;
	font-family: 'nautilus_pompiliusregular';
	font-weight: bold;
   
}
.block-title p{
	font-size:52px;
	font-family: 'nautilus_pompiliusregular';
    display: block;
    position: relative;
}
.about-images {
   
    margin: 120px -170px;
    
    
    text-align:right;
   position: relative;
   content: '';
   display:end;
   
  
   
    
}

/* CATALOGO PENDIENTE */
.container{
    margin: 30px 30px;
    padding: auto;
}
.about-main h3{
	font-family: 'Roboto', sans-serif;
    font-weight: 600;
	font-size:20px;
}

.wow_fadeIn{
    height: 700px;
    width: 700px;
    position: relative;
    line-height:30px;
    font-size: 17px;
    position: absolute;
}


.about-images .about-main {
    border: 10px solid #f1f1f1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 100%;
    position: relative;
    
    
    
    width: 500px;
    height: 500px;
}

.about-images img {
    border: 10px solid #f1f1f1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;  
}
.about-inset {
    position: absolute;
    top: 0;
    right: 0;
}

/* productos */
.encabezado {
   text-align: center;
   align-items: center;
   background: #000000;
   color: whitesmoke;
}
.box{
    display: flex;
    margin: 30px;
     
    
}
.four{
    background:url(/img/fondolineasmorado.png) no-repeat  center top;
    background-attachment:fixed;
	background-size:cover;
    width: 100%;
    height: 100%; 
    
	
	min-height:100%;
}
.four .card{
    align-items: center;
    text-align: center;
    width: 250px;
    height: 600px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(101, 81, 133, 0);
    color: #f1f1f1;

    position: relative;
    margin: 30px;
   
    
}   
.card .button-primary{
    text-decoration: none;
    height: 10000px;
    width: 200px;
    border-radius: 100px;
    background: #ffffff;
    
}
.card .button-primary:hover{
    cursor: pointer;
    background: rgb(0, 183, 255);
    color: rgb(151, 29, 29);
}
.card img{
    width: 200px;
    height: 200px;
    margin: 10px;
    
    
}
.info-card img{
    width: 85px;
    height: 90px;
    top: 40px;
    align-items: center;
}

